* {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

li {
    list-style: none;
}

.odd {
    background-color: #ccc;
}

.even {
    background-color: #eee;
}

html, body {
    height: 100%;
}

body {
    font-size: 16px;
    line-height: 1.5;
    background: #eeeeee;
    color: #333333;
}

body, input {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input {
    font-size: 100%;
}

a, a:visited, a:active {
    color: #258;
}

h3 {
    font-weight: bold;
    text-decoration: underline;
    font-size: 120%;
    padding: 8px 6px;
    text-align: center;
}

#top-filter {
    padding-left: 10px;
}

#top-filter, #main-pane, #side-pane, #bottom-pane {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
}

#top-filter {
    left: 150px;
    height: 120px;
    bottom: auto;
    overflow: auto;
    background: #ddd;
    border-bottom: 1px solid #999;
}

#help {
    padding: 8px;
}

#main-pane {
    top: 122px;
    bottom: 0;
    left: 150px;
    overflow: auto;
}

#side-pane {
    width: 150px;
    right: auto;
    overflow: auto;
    background: #eee;
    border-right: 1px solid #999;
    background: #ddd;
}

.pool_summary {
    padding-left: 42px;
    font-weight: bold;
}

.type, .color, .rarity, .sort {
    cursor: pointer;
    margin: 1px;
    padding: 2px 7px;
    font-size: 70%;
    font-weight: bold;
    background: #999;
    color: #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;

    opacity: 1;
    transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
    -webkit-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear;
    border: 1px solid #777;

    position: relative;
}

.selected {
    background: #69d;
}

.inv_selected {
    background: #d96;
}

.filter_label {
    float: left;
    font-weight: bold;
    width: 80px;
}

#filter_filters {
    width: 100%;
}

#filter_misc {
    float: left;
}

/*
#tag-filter .label {
    float: left;
    margin-top: 9px;
    margin-left: 12px;
    margin-right: 8px;
}

#tag-filter .tag, #tag-filter .sort {
    margin-top: 10px;
    border: 1px solid #777;
}

#tag-filter .selected {
    background: #69d;
}

#tag-filter .inv_selected {
    background: #d96;
}

.count {
    font-weight: normal;
    padding-left: 2px;
}

/*
#orderby {
    clear: both;    
}

#orderby .label {
    float: left;
    margin-top: 9px;
    margin-left: 12px;
    margin-right: 8px;
}
*/

#orderby .sort {
    margin-top: 10px;
    border: 1px solid #777;
}

#orderby .count {
    font-weight: normal;
    padding-left: 2px;
}

#lists .list {
    padding: 3px 6px;
}

#lists .selected {
    padding: 2px 6px;
    background: #9be;
    font-weight: bold;
}

#lists .list-name {
    cursor: pointer;
    color: black;
    text-decoration: none;
}

#createList {
    padding: 3px 6px;
    margin-top: 5px;
}

#createList input {
    width: 180px;
}

#new-todo-box {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 60px;
    margin-right: 20px;
    font-size: 160%;
    position: relative;
    height: 40px;
}

#new-todo {
   position: absolute;
   width: 100%;
}

#cards {
    margin-top: 5px;
    margin-left: 5px;
}

#item-list .todo {
    display: block;
    height: 50px;
    position: relative;
    overflow: hidden;
    border-top: 1px solid #ccc;
}

#item-list .todo .destroy {
    cursor: pointer;
    position: absolute;
    left: 5px;
    top: 15px;
    height: 20px;
    width: 20px;
}

#item-list .todo .display, #item-list .todo .edit {
    margin-left: 30px;
    height: 100%;
    width: auto;
    float: left;
    padding-top: 18px;
    line-height: 1;
}

#todo-input {
    width: 300px;
    position: relative;
    top: -3px;
}

#item-list .todo:hover .destroy {
    background: url('/destroy.png') no-repeat 0 0;
}

#item-list .todo .destroy:hover {
    background-position: 0 -20px;
}

#item-list .todo .item-tags {
    overflow: auto;
    float: right;
    margin-right: 8px;
}

#item-list .todo .item-tags .tag {
    margin-top: 15px;
}

#item-list .todo .item-tags .removable_tag {
    padding-right: 22px;
}

#item-list .todo .item-tags .tag .remove {
    position: absolute;
    top: 0;
    right: 4px;
    bottom: 0;
    width: 16px;
    background: url("/close_16.png") no-repeat 0 center;
}

#item-list .todo .item-tags .tag .remove:hover {
    background-position: -16px center;
}

#item-list .todo .item-tags div.addtag {
    background: none;
    color: #333;
    border: 1px dashed #999;
}

#item-list .todo .check {
    float: left;
    width: 25px;
}

#item-list .todo .todo-text {
    float: left;
    margin-left: 10px;
    font-size: 100%;
}

#item-list .todo .edit input {
    margin-left: 35px;
}

#edittag-input {
    width: 80px;
}

.cards {
    margin: 10px;
}

.card {
    width: 312px;
    height: 300px;
    /* height: 445px; */
    float: left;
    margin: 1px;
    padding-top: 145px;
    text-align: center;
    color: #bba;
    font-family: "1em/1.3 Gill Sans", "My Gill Sans", "sans-serif";
    font-size: xx-large;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.card .amount {
    font-size: 1em;
    color: #fff;
}
